.StripeCheckout span {
  @include custom-btn;
  text-shadow: none !important;
  background-image: none !important;
  @include soft-shadow;
  text-transform: uppercase !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 0px !important;
  width: 100% !important;
  padding: 1rem 2rem !important;
  @include respond(phone) {
    width: 40rem !important;
    padding: 5rem !important;
    font-size: 5rem !important;
  }
}
.StripeCheckout {
  margin: 0 auto !important;
  background: none !important;
  display: flex !important;
  border-radius: 0px !important;
  padding: 0 !important ;
  width: 100% !important;
  @include respond(phone) {
    width: 40rem !important;
  }
}
