.registration {
  display: flex;
  flex-direction: column;
  justify-content: top;
  max-width: $width-general-second;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;

  margin-top: $navbar-height-desktop;

  &__flex {
    width: 80%;
    margin: 0 auto;
    padding: $page-padding;

    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    @include respond(phone) {
      width: 100%;

      flex-direction: column;
      align-items: center;
      margin-bottom: 20rem;
    }
  }
  &__title {
    @include page-title;
    margin-top: 2rem;
    margin-bottom: 4rem;
    @include respond(phone) {
      margin-top: 12rem;
      font-size: 8rem;
    }
  }
}
