.registration {
  display: flex;
  flex-direction: column;
  justify-content: top;
  max-width: $width-general-second;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;

  margin-top: $navbar-height-desktop;

  &__flex {
    width: 80%;
    margin: 0 auto;
    padding: $page-padding;

    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  &__title {
    @include page-title;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}
