.category-directory {
  max-width: $width-general;
  margin: 0 auto;
  padding: $page-padding;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  padding-top: 4rem;
  &__sub-title {
    @include page-subtitle;
  }
  &__title {
    @include page-title;
    margin-bottom: 2rem;
  }

  &__top-navbar {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(phone) {
      height: 8rem;
      margin-bottom: 2rem;
    }
    &--products {
      font-family: $font-headers;
      @include respond(phone) {
        font-size: 3rem;
      }
    }

    &--grid-select {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: rgb(224, 224, 224);
      border-radius: 1rem;

      &__icon {
        line-height: 1.8;
        font-size: 3rem;
        color: $color-grey-light;
        cursor: pointer;
        @include respond(phone) {
          font-size: 8rem;
        }
      }
    }
  }
  &__items-container {
    width: 100%;
  }
  &__card {
    min-height: 80rem;
    max-height: calc(
      100vh - #{$navbar-height-desktop} - 6rem - 10rem - 4rem - 2rem
    );
    overflow: hidden;
    position: relative;
    @include respond(phone) {
      min-height: 60rem;
      max-height: calc(100vh - 50rem);
      box-shadow: $shadow-soft;
    }
    &:hover &--pop-up {
      animation: pop-up 0.4s forwards;
    }
    &--link {
      font-family: $font-buttons;
      color: white;

      background-color: rgba($color: #000000, $alpha: 0.8);
      backdrop-filter: blur(2rem);

      font-size: 2rem;
      padding: 1rem 3rem;
      border: 2px solid white;
      letter-spacing: 2px;
      width: fit-content;
      font-weight: 600;
      transition: all 0.2s ease;
      @include respond(phone) {
        font-size: 4rem;
        margin-top: 90%;
      }

      &:hover {
        text-decoration: none;
        color: $color-black;
        background-color: rgba($color: #fff, $alpha: 0.8);
        border: 2px solid $color-black;
      }
    }
    &--pop-up {
      width: 100%;
      height: 100%;

      position: absolute;
      left: -100%;
      top: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease-in-out;
      @include respond(phone) {
        left: 0;
        top: 0;
      }
      &:hover {
        cursor: pointer;
        top: 0;
        left: 0;
      }
      &__size-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--size-symbol {
          width: 100%;
          background: rgba($color: #fff, $alpha: 1);
          position: absolute;
          top: 93%;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          font-size: 1.8rem;
          color: $color-black;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          height: 7%;
          border-bottom: 1px solid $color-black;
          @include respond(phone) {
            top: 88%;
            height: 10%;
            font-size: 3.2rem;
            border-bottom: none;
          }
          &__text {
            font-size: 1.6rem;
            letter-spacing: 1px;
            color: $color-grey-dark;
            font-family: $font-headers;
            @include respond(phone) {
              font-size: 2.4rem;
            }
          }
          &__flex {
            font-family: $font-buttons;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 50%;
          }
        }
      }
    }
    &--image {
      position: relative;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center top;
      transition: transform 0.4s linear;
      @include respond(phone) {
        transform: scale(0.9);

        margin-top: 5rem;
      }
    }
    &:hover &--pop-up {
      border-top: 1px solid $color-black;
      cursor: pointer;
      top: 0;
      left: 0;
    }
    &:hover &--image {
      transform: scale(0.95);
    }
    &--text-flex {
      position: absolute;
      top: 0;
      left: 0;
      margin-bottom: 0;
      background-color: rgba($color: #fff, $alpha: 1);
      backdrop-filter: blur(0.5rem);
      position: absolute;
      height: 7%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      font-size: 2rem;
      @include respond(phone) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        background-color: rgba($color: white, $alpha: 0.95);
      }

      &__left {
        @include item-text;
        @include respond(phone) {
          font-size: 3.2rem;
        }
      }
      &__right {
        font-family: $font-headers;
        font-size: 2rem;
        color: $color-black;
        @include respond(phone) {
          font-size: 3.2rem;
        }
      }
    }
  }
}
.small-grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(52rem, 1fr));
}
.big-grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
.active-grid-icon-small {
  color: $color-black;
  background: rgb(175, 175, 175);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.active-grid-icon-big {
  color: $color-black;
  background: rgb(175, 175, 175);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
