.cart-dropdown {
  position: fixed;

  background-color: $color-white;
  top: calc(#{$top-navbar-desktop} + 0.5rem);
  right: 5rem;
  width: 42rem;
  min-height: 20rem;
  max-height: 66rem;
  padding: 2rem;
  z-index: 100000;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-shadow: 0 2.8px 1.4px rgba(0, 0, 0, 0.028),
    0 6.7px 3.3px rgba(0, 0, 0, 0.04), 0 12.5px 6.3px rgba(0, 0, 0, 0.05),
    0 22.3px 11.2px rgba(0, 0, 0, 0.06), 0 41.8px 20.9px rgba(0, 0, 0, 0.072),
    0 100px 50px rgba(0, 0, 0, 0.1);
  border: 1px solid $color-border;
  @include respond(phone) {
    top: $navbar-height-mobile;
    right: 0;

    max-height: calc(100vh - #{$navbar-height-mobile});
    width: 100%;

    padding: 5rem;
  }
  &::-webkit-scrollbar {
    display: none;
  }

  &__items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--close {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &__icon {
        font-size: 2.4rem;
        @include respond(phone) {
          font-size: 10rem;
          margin-right: -2rem;
        }
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          transform: rotate(180deg);
          color: $is-active;
        }
      }
    }
    &--header {
      text-transform: uppercase;
      font-family: $font-headers;
      font-size: 1.4rem;
      margin-bottom: 0.75rem;
      text-align: center;
      padding-bottom: 0.5rem;
      color: $color-grey-dark;
      border-bottom: 1px solid $color-grey-dark;
      @include respond(phone) {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
    &--subtotal {
      padding-top: 0.5rem;

      font-family: $font-writing;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      color: $color-black;
      margin-bottom: 2rem;
      @include respond(phone) {
        width: 100%;
        font-size: 3.6rem;
      }

      &__price {
        font-family: $font-headers;
        color: $color-black;
        letter-spacing: 0.15rem;
        font-weight: 800;
        font-size: 1.8rem;
        @include respond(phone) {
          font-size: 3.6rem;
        }
      }
    }
  }
  &__button {
    @include custom-btn;

    text-align: center;
    padding: 1rem 2rem;
    margin-top: auto;
    margin-bottom: 2rem;
    @include respond(phone) {
      padding: 2rem 4rem !important;
      width: 80%;
      margin-top: 4rem;
    }
  }
  &__empty {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
      height: 40rem;
    }
    &--title {
      font-family: $font-special;
      text-align: center;
      font-weight: 800;
      @include respond(phone) {
        font-size: 4rem;
      }
    }
    &--icon {
      font-size: 10rem;
      color: rgba($color: #000000, $alpha: 0.05);
      position: absolute;
      top: -150%;
      left: 50%;
      transform: translateX(-50%);
      @include respond(phone) {
        top: 50%;
      }
    }
  }
}
