.homepage-2nd-section {
  margin-top: 12rem;
  margin-bottom: 12rem;
  padding: $page-padding;

  display: flex;
  width: 100%;
  @include respond(phone) {
    flex-direction: column;
    margin-top: 16rem;
    padding: 0;
  }

  &__male {
    width: 49%;
    margin-right: 2%;
    position: relative;
    @include respond(phone) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
  &__title-male {
    z-index: 3;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSko7WtdyrdctshCOoWRzGcH-wMIIJ9R8zXHQ&usqp=CAU);
    -webkit-background-clip: text;

    font-family: $font-headers;
    position: absolute;
    top: 12rem;
    left: 0;
    width: 100%;
    text-align: end;
    color: transparent;
    font-size: 7rem;

    padding-right: 1rem;
    @include respond(phone) {
      writing-mode: vertical-rl;
      text-orientation: upright;
      width: auto;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12rem;
    }
  }
  &__female {
    width: 49%;
    position: relative;
    @include respond(phone) {
      width: 100%;
    }
  }
  &__title-female {
    z-index: 3;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSko7WtdyrdctshCOoWRzGcH-wMIIJ9R8zXHQ&usqp=CAU);
    -webkit-background-clip: text;
    padding-left: 1rem;
    font-family: $font-headers;
    position: absolute;
    top: 12rem;
    left: 0;
    width: 100%;
    text-align: start;
    color: transparent;
    font-size: 7rem;

    @include respond(phone) {
      writing-mode: vertical-rl;
      text-orientation: upright;
      width: auto;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12rem;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
  }
  &__link-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    );
    &--title {
      margin-top: 50%;
      font-size: 8rem;
      color: white;
      text-align: center;
      letter-spacing: 5px;
      @include respond(phone) {
        font-size: 12rem;
      }
    }
  }
  &__link {
    cursor: pointer;
    color: white;

    text-decoration: underline;
    font-size: 3.2rem;
    text-align: center;
    font-family: $font-writing;
    letter-spacing: 2px;
    @include respond(phone) {
      font-size: 6rem;
    }
  }
}
