.is-active-category-title {
  color: $color-white !important;
  background: $color-black;
}

.categories-dropdown {
  font-family: $font-headers;

  height: 100%;
  cursor: pointer;
}

.dropdown-items {
  z-index: 999;
  position: absolute;
  top: 4rem;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba($color: #fff, $alpha: 0.95);
  backdrop-filter: blur(1rem);
  box-shadow: none;
  padding: 3rem;
  width: 100vw;
  gap: 4rem;
  padding: 2rem;
  visibility: hidden;
  transition: all 0.5s ease;
  opacity: 0;

  @include respond(phone) {
    top: 8rem;
    right: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
  &__title {
    font-family: $font-special;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: $color-black;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    @include respond(phone) {
      font-size: 4rem;
      grid-column: 1/-1;
      grid-row: 1/2;
    }
  }

  &__links-container {
    margin-right: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    @include respond(phone) {
      justify-content: center;
      align-items: center;
      margin-right: 0;
    }
  }
  &__image-container {
    margin-left: 2rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    @include respond(phone) {
      grid-column: 1/-1;
      grid-row: 2/3;
    }
  }
}
.dropdown-links {
  font-size: 1.6rem;
  color: $color-grey-dark2;
  font-weight: 600;
  transition: all 0.1s ease;

  border-bottom: 1px solid transparent;
  @include respond(phone) {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  &:hover {
    color: $color-black;
    border-bottom: 1px solid $color-grey-light;
  }
  &__important {
    color: $imperial-red;

    &:hover {
      color: $is-active;
      border-bottom: 1px solid rgba(212, 172, 166, 0.7);
    }
  }
}

.dropdown-links {
  @include flex-center;
}
.category-links {
  font-family: $font-headers;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  color: $color-grey-dark2;
  transition: all 0.1s ease-in-out;
  padding: 0.2rem 2rem;
  display: flex;
  align-items: center;
  height: 100%;
  @include respond(phone) {
    font-size: 2.4rem;
    font-weight: 600;
  }

  &__gifts {
    color: $imperial-red;
    &:hover {
      color: $imperial-red !important;
    }
  }

  &:hover {
    text-decoration: none;

    color: $color-black;
  }
}

.category-links:hover .dropdown-items {
  visibility: visible;
  opacity: 1;
}
