.homepage-1st-section {
  width: 100%;
  height: calc(100vh - #{$navbar-height-desktop} - 4rem);
  min-height: 740px;
  padding: $page-padding;
  @include respond(phone) {
    padding: 0;
    min-height: 740px;
    height: calc(100vh - #{$navbar-height-mobile} - 12rem);
  }

  &--grey {
    width: 100%;
    height: 4rem;
    @include respond(phone) {
      height: 12rem;
    }
  }
  &__top-part {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--image {
      width: 33.33%;
      height: 100%;
      object-fit: cover;
      @include respond(phone) {
        width: 49%;
      }

      &__women {
        object-position: 22% top;
        @include respond(phone) {
          margin-right: 1%;
          // object-position: 23.5% top;
        }
      }
      &__man {
        object-position: 83% top;
        @include respond(phone) {
          margin-left: 1%;
          // object-position: 81% top;
        }
      }
      &__kids {
        object-position: 60% 20%;
      }
      &__gifts {
        object-position: left center;
        @include respond(phone) {
          object-position: 15% center;
        }
      }
    }
    &--central-part {
      border-top: 1px solid rgb(235, 235, 235);
      border-bottom: 1px solid rgb(235, 235, 235);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 33.3%;
      height: 100%;
      background-color: $color-border;
      @include respond(phone) {
        position: absolute;
        left: 0;
        top: 30%;
        height: auto;

        width: 100vw;
        z-index: 3;
        background-color: rgba($color: $color-border, $alpha: 0.95);
        padding: 2rem;
        border-radius: 15% 0 15% 0;
      }

      &__logo {
        width: 10rem;

        @include respond(phone) {
          margin-top: -15rem;
          width: 15rem;
          filter: drop-shadow(3px 3px 0rem rgba(255, 255, 255, 1))
            drop-shadow(-3px -3px 0rem rgba(255, 255, 255, 1));
        }
      }
      &__text {
        color: $color-black;
        margin-top: 2rem;
        text-align: center;
        letter-spacing: 2px;
        font-family: $font-special;
        font-style: italic;
        font-weight: 600;
        line-height: 2;
        @include respond(phone) {
          font-size: 4rem;
        }
      }
      &--buttons-container {
        width: 100%;
        margin-top: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__button {
          @include custom-btn;
          width: 20rem;
          text-align: center;
          @include respond(phone) {
            font-size: 3rem !important;
            width: 30rem;
            padding: 3rem 2rem !important;
          }
        }
      }
    }
    &__lower {
      width: 100%;
      height: 15%;
      margin-top: 8rem;
      @include respond(phone) {
        margin-top: 4rem;
        margin-bottom: 4rem;
      }

      &--title {
        font-style: italic;
        text-align: center;
        margin-top: 2rem;
        color: $color-grey-dark2;
        font-weight: 600;

        &__logo {
          font-size: 5em;
          font-weight: 600;
          margin-bottom: 2rem;
          display: inline-block;
          @include respond(phone) {
            font-size: 5em;
          }
        }
        &__slogan {
          @include respond(phone) {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
