@import "./variables";



@mixin page-title {
  font-family: $font-special;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-size: $h1-font-size-desk;
  text-transform: uppercase;
  color: $color-black;
  margin-bottom: 4rem;
}
@mixin page-subtitle {
  text-align: center;
  color: $is-active;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  margin-top: 2rem;
}

@mixin centerXY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin soft-shadow {
  box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1),
    0 0 2rem rgba($color: #000000, $alpha: 0.05)  !important;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (min-width: 56.3125em) and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desk {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin custom-btn {
  font-family: $font-buttons  !important;
  font-size: 1.6rem  !important;
  color: white  !important;
  background: $color-black  !important;
  border: 2px solid transparent  !important;
  letter-spacing: 0.4rem  !important;
  -webkit-appearance: none  !important;
  outline: none  !important;
  transition: all 0.2s ease  !important;
  font-size: $button-font-desk  !important;
  padding: $button-padding-desk  !important;
  font-weight: 600  !important;

  &:hover {
    color: $color-black  !important;
    background: white  !important;
    border: 2px solid $color-black  !important;
  }
}

@mixin item-text {
  font-family: $font-special;
  color: $color-grey-dark2;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.9rem;
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}
