//Colors
$color-grey-dark: rgb(105, 105, 105);
$color-grey-dark2: rgb(77, 63, 60);
$color-white: rgb(255, 255, 255);
$color-black: rgb(20, 20, 20);
$color-grey-light: rgb(185, 185, 185);

$color-border: rgb(245, 245, 245);

$imperial-red: rgb(255, 90, 100);

$is-active: rgb(145, 12, 52);

//! Font related
$font-buttons: "Changa", sans-serif;
$font-headers: "Space Grotesk", sans-serif;
$font-special: "Crimson Pro", serif;
$font-writing: "Faustina", serif;
$h1-font-size-desk: 2.8rem;
$button-font-mobile: 2.5rem;

$button-padding-mobile: 3rem 2rem;
$button-font-desk: 1.6rem;
$button-padding-desk: 1rem 2rem;
$width-general: 192rem;
$width-general-second: 144rem;

$navbar-height-desktop: 9rem;
$navbar-height-mobile: 14rem;

$top-navbar-desktop: 4rem;

$page-padding: 0 2rem;
$shadow-soft: 0 0.7px 1.3px rgba(0, 0, 0, 0.061),
  0 2.2px 4.5px rgba(0, 0, 0, 0.089), 0 10px 20px rgba(0, 0, 0, 0.15);
