@import url("https://fonts.googleapis.com/css2?family=Faustina:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");
.app {
  width: 100%;
  min-height: 100vh;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .app {
    margin-top: calc(4rem + 14rem);
    min-height: calc(100vh - 4rem - 14rem);
    width: 100%;
  }
}

#dropdown-cart-portal {
  height: 0;
}

.main-content {
  min-height: calc(100vh - 9rem) !important;
  margin-top: 9rem !important;
  width: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Crimson Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #4d3f3c;
  box-sizing: border-box;
  background-color: white;
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}

/* BROWSER RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Padding and margin are not added to the total width or height of the box  */
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}
@media (min-width: 56.3125em) and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (min-width: 37.5625em) and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}

.cart-dropdown {
  position: fixed;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(0, 0, 0, 0.05) !important;
  background-color: white;
  top: calc(4rem + 0.5rem);
  right: 5rem;
  width: 42rem;
  max-height: 66rem;
  padding: 2rem;
  z-index: 100000;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.cart-dropdown::-webkit-scrollbar {
  display: none;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .cart-dropdown {
    top: 14rem;
    width: 64rem;
    max-height: 96rem;
  }
}
.cart-dropdown__items {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cart-dropdown__items--close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cart-dropdown__items--close__icon {
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.cart-dropdown__items--close__icon:hover {
  transform: rotate(180deg);
  color: #910c34;
}
.cart-dropdown__items--header {
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  text-align: center;
  padding-bottom: 0.5rem;
  color: dimgray;
  border-bottom: 1px solid dimgray;
}
.cart-dropdown__items--subtotal {
  padding-top: 0.5rem;
  font-family: "Faustina", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #141414;
  margin-bottom: 2rem;
}
.cart-dropdown__items--subtotal__price {
  font-family: "Space Grotesk", sans-serif;
  color: #141414;
  letter-spacing: 0.15rem;
  font-weight: 800;
  font-size: 1.8rem;
}
.cart-dropdown__button {
  font-family: "Changa", sans-serif !important;
  font-size: 1.6rem !important;
  color: white !important;
  background: #141414 !important;
  border: 2px solid transparent !important;
  letter-spacing: 0.4rem !important;
  -webkit-appearance: none !important;
  outline: none !important;
  transition: all 0.2s ease !important;
  font-size: 1.6rem !important;
  padding: 1rem 2rem !important;
  font-weight: 600 !important;
  text-align: center;
  padding: 1rem 2rem;
  margin-top: auto;
  margin-bottom: 2rem;
}
.cart-dropdown__button:hover {
  color: #141414 !important;
  background: white !important;
  border: 2px solid #141414 !important;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .cart-dropdown__button {
    font-size: 2.5rem;
    padding: 3rem 2rem;
  }
}
.cart-dropdown__empty {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.cart-dropdown__empty--title {
  font-family: "Crimson Pro", serif;
  text-align: center;
  font-weight: 800;
}
.cart-dropdown__empty--icon {
  font-size: 10rem;
  color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translateX(-50%);
}

.cart-icon__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart-icon__item-count {
  position: absolute;
  right: -43%;
  bottom: -43%;
  padding-bottom: 0.2rem;
  transform: translateX(-50%) translateY(-50%);
  background: #141414;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 800;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.cart-icon__item-count:hover {
  background: dimgray;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .cart-icon__item-count {
    font-size: 2rem;
    width: 2.8rem;
    height: 2.8rem;
    right: -1.8rem;
    bottom: -1.8rem;
  }
}
.cart-icon:hover .cart-icon__item-count {
  background: dimgray;
}

.cart-item-container {
  margin-bottom: 1rem;
  border-bottom: 1px solid dimgray;
  width: 100%;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  margin-bottom: 0.75rem;
}
.cart-item__image {
  width: 30%;
  object-fit: cover;
  object-position: center center;
}
.cart-item__details--title {
  font-family: "Crimson Pro", serif;
  color: #4d3f3c;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.9rem;
  font-weight: 400;
}
.cart-item__details--size-quantity-price {
  color: dimgray;
  font-size: 1.6rem;
}
.cart-item__details--span-size {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  color: #4d3f3c;
}
.cart-item__details--greyed {
  font-family: "Faustina", serif;
  font-weight: 600;
  color: dimgray;
}
.cart-item__details--span-price {
  font-family: "Space Grotesk", sans-serif;
  color: #141414;
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
}
.cart-item__details__total {
  margin-bottom: 0;
  font-size: 1.8rem !important;
}
.cart-item__delete-btn {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #141414;
  transition: all 0.2s ease;
}
.cart-item__delete-btn:hover {
  color: white;
  background-color: #141414;
}
.cart-item__delete-btn--text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
  margin-left: 0.5rem;
  font-weight: 400;
}

.category-directory {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  padding-top: 4rem;
}
.category-directory__sub-title {
  text-align: center;
  color: #910c34;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  margin-top: 2rem;
}
.category-directory__title {
  font-family: "Crimson Pro", serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 4rem;
  margin-bottom: 2rem;
}
.category-directory__top-navbar {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-directory__top-navbar--products {
  font-family: "Space Grotesk", sans-serif;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory__top-navbar {
    margin-bottom: 2rem;
    height: 100%;
  }
}
.category-directory__top-navbar--grid-select {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #e0e0e0;
  border-radius: 1rem;
}
.category-directory__top-navbar--grid-select__icon {
  line-height: 1.8;
  font-size: 3rem;
  color: #b9b9b9;
  cursor: pointer;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory__top-navbar--grid-select__icon {
    font-size: 8rem;
  }
}
.category-directory__items-container {
  width: 100%;
}
.category-directory__card {
  height: calc( 100vh - 9rem - 6rem - 10rem - 4rem - 2rem );
  overflow: hidden;
  position: relative;
}
.category-directory__card:hover .category-directory__card--pop-up {
  animation: pop-up 0.4s forwards;
}
.category-directory__card--link {
  font-family: "Changa", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
  font-size: 2rem;
  padding: 1rem 3rem;
  border: 2px solid white;
  letter-spacing: 2px;
  width: fit-content;
  font-weight: 600;
  transition: all 0.2s ease;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory__card--link {
    font-size: 2.5rem;
    padding: 3rem 2rem;
  }
}
.category-directory__card--link:hover {
  text-decoration: none;
  color: #141414;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #141414;
}
.category-directory__card--pop-up {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.category-directory__card--pop-up:hover {
  cursor: pointer;
  top: 0;
  left: 0;
}
.category-directory__card--pop-up__size-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category-directory__card--pop-up__size-container--size-symbol {
  width: 100%;
  background: white;
  position: absolute;
  top: 93%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  color: #141414;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 7%;
  border-bottom: 1px solid #141414;
}
.category-directory__card--pop-up__size-container--size-symbol__text {
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: dimgray;
  font-family: "Space Grotesk", sans-serif;
}
.category-directory__card--pop-up__size-container--size-symbol__flex {
  font-family: "Changa", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
.category-directory__card--image {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
  transition: transform 0.4s linear;
}
.category-directory__card:hover .category-directory__card--pop-up {
  border-top: 1px solid #141414;
  cursor: pointer;
  top: 0;
  left: 0;
}
.category-directory__card:hover .category-directory__card--image {
  transform: scale(0.95);
}
.category-directory__card--text-flex {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
  background-color: white;
  backdrop-filter: blur(0.5rem);
  position: absolute;
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
}
.category-directory__card--text-flex__left {
  font-family: "Crimson Pro", serif;
  color: #4d3f3c;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.9rem;
}
.category-directory__card--text-flex__right {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
  color: #141414;
}

.small-grid {
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(52rem, 1fr));
}

.big-grid {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.active-grid-icon-small {
  color: #141414;
  background: #afafaf;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .active-grid-icon-small {
    font-size: 8rem;
  }
}

.active-grid-icon-big {
  color: #141414;
  background: #afafaf;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .active-grid-icon-big {
    font-size: 8rem;
  }
}

.directory-menu {
  width: 100%;
  height: calc(100vh - 9rem - 4rem);
  padding: 0 2rem;
}
.directory-menu--grey {
  width: 100%;
  height: 4rem;
}
.directory-menu__top-part {
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.directory-menu__top-part--image {
  width: 33.33%;
  height: 100%;
  object-fit: cover;
}
.directory-menu__top-part--image__women {
  object-position: 22% top;
}
.directory-menu__top-part--image__man {
  object-position: 83% top;
}
.directory-menu__top-part--image__kids {
  object-position: 60% 20%;
}
.directory-menu__top-part--image__gifts {
  object-position: left center;
}
.directory-menu__top-part--central-part {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  height: 100%;
  background-color: whitesmoke;
}
.directory-menu__top-part--central-part__logo {
  width: 10rem;
}
.directory-menu__top-part--central-part__text {
  color: #141414;
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Crimson Pro", serif;
  font-style: italic;
  font-weight: 600;
  line-height: 2;
}
.directory-menu__top-part--central-part--buttons-container {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.directory-menu__top-part--central-part--buttons-container__button {
  font-family: "Changa", sans-serif !important;
  font-size: 1.6rem !important;
  color: white !important;
  background: #141414 !important;
  border: 2px solid transparent !important;
  letter-spacing: 0.4rem !important;
  -webkit-appearance: none !important;
  outline: none !important;
  transition: all 0.2s ease !important;
  font-size: 1.6rem !important;
  padding: 1rem 2rem !important;
  font-weight: 600 !important;
  width: 20rem;
  text-align: center;
}
.directory-menu__top-part--central-part--buttons-container__button:hover {
  color: #141414 !important;
  background: white !important;
  border: 2px solid #141414 !important;
}
.directory-menu__top-part__lower {
  width: 100%;
  height: 15%;
  margin-top: 8rem;
}
.directory-menu__top-part__lower--title {
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
  color: #4d3f3c;
  font-weight: 400;
}
.directory-menu__top-part__lower--title__logo {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  display: inline-block;
}

.most-wanted-image {
  width: 25rem;
  height: 30rem;
  object-fit: cover;
  object-position: center center;
}
.most-wanted-image__jacket {
  object-position: center bottom;
}

.dropdown-images-container {
  position: relative;
  overflow: hidden;
  height: 30rem;
}
.dropdown-images-container:hover .dropdown-images-container__inner {
  top: 50%;
  left: 0;
}
.dropdown-images-container__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.05) 50%);
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}
.dropdown-images-container__inner--title {
  margin-top: 2rem;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.dropdown-images-container__inner:hover {
  top: 50%;
  left: 0;
}
.dropdown-images-container__inner--link {
  font-family: "Changa", sans-serif;
  letter-spacing: 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2rem);
  margin-top: 2rem;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border: 2px solid white;
  width: fit-content;
  font-weight: 600;
  transition: all 0.2s ease;
}
.dropdown-images-container__inner--link:hover {
  text-decoration: none;
  color: #141414;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #141414;
}

.is-active-category-title {
  color: white !important;
  background: #141414;
}

.categories-dropdown {
  font-family: "Space Grotesk", sans-serif;
  height: 100%;
  cursor: pointer;
}

.dropdown-items {
  z-index: 999;
  position: absolute;
  top: 4rem;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(1rem);
  box-shadow: none;
  padding: 3rem;
  width: 100vw;
  gap: 4rem;
  padding: 2rem;
  visibility: hidden;
  transition: all 0.5s ease;
  opacity: 0;
  box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.1), 0 1rem 0.5rem -1rem rgba(0, 0, 0, 0.2);
}
.dropdown-items__title {
  font-family: "Crimson Pro", serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #141414;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}
.dropdown-items__links-container {
  margin-right: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.dropdown-items__image-container {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.dropdown-links {
  font-size: 1.6rem;
  color: #4d3f3c;
  font-weight: 600;
  transition: all 0.1s ease;
  border-bottom: 1px solid transparent;
}
.dropdown-links:hover {
  color: #141414;
  border-bottom: 1px solid #b9b9b9;
}
.dropdown-links__important {
  color: #ff5a64;
}
.dropdown-links__important:hover {
  color: #910c34;
  border-bottom: 1px solid rgba(212, 172, 166, 0.7);
}

.dropdown-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-links {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  color: #4d3f3c;
  transition: all 0.1s ease-in-out;
  padding: 0.2rem 2rem;
  display: flex;
  align-items: center;
  height: 100%;
}
.category-links__gifts {
  color: #ff5a64;
}
.category-links__gifts:hover {
  color: #ff5a64 !important;
}
.category-links:hover {
  text-decoration: none;
  color: #141414;
}

.category-links:hover .dropdown-items {
  visibility: visible;
  opacity: 1;
}

.footer {
  width: 100%;
  background: dimgray;
  color: white;
  margin-bottom: 0;
  padding: 4rem 0;
}
.footer__title {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .footer__title {
    font-size: 3rem;
  }
}
.footer__text {
  font-size: 1.8rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .footer__text {
    font-size: 2rem;
  }
}

.footer-grid {
  text-align: center;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-evenly;
}
.footer-logo {
  width: auto;
  height: 15rem;
}

.logo {
  width: auto;
  height: 15rem;
}

.app-header {
  font-family: "Space Grotesk", sans-serif;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  color: #141414;
  background-color: white;
}

.header {
  background-color: white;
  height: 100%;
}
.header__logo-flex {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top-links {
  padding: 0 5rem;
  color: #910c34;
  border-top: 1px solid whitesmoke;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  font-family: "Faustina", serif;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .header__top-links {
    top: 14rem;
    font-size: 1.5rem;
  }
}
.header__top-links--text {
  font-family: "Faustina", serif;
  text-align: center;
  width: 50%;
  letter-spacing: 0.15rem;
  font-weight: 600;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14rem;
  }
}
.header__slogan {
  font-size: 1.25rem;
  letter-spacing: 1.4px;
  font-family: "Crimson Pro", serif;
  font-weight: 700;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .header__slogan {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }
}
.header__logo {
  height: 7rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .header__logo {
    width: auto;
    height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.header__logo-title {
  font-family: "Crimson Pro", serif;
  color: #141414;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .header__logo-title {
    display: none;
  }
}
.header__logo-container {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  padding: 1rem 5rem;
  height: 9rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .header__logo-container {
    width: 50%;
  }
}
.header__logo-container:hover {
  text-decoration: none;
}
.header__options-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  border-top: 1px solid whitesmoke;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .header__options-container {
    display: none;
    width: 0;
  }
}
.header__options-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 800;
  cursor: pointer;
  color: #141414;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 1rem 1rem;
  margin-bottom: -1.5px;
  height: calc(100% + 2px);
  transition: all 0.1s ease;
  border-top: 2px solid transparent;
}
.header__options-links:hover {
  text-decoration: none;
  color: #141414;
  border-top: 2px solid #b9b9b9;
}
.header__icons-container {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .header__icons-container {
    width: 50%;
  }
}
.header__icons-container--close {
  margin: 0;
  font-weight: 600;
  color: #141414;
  transition: all 0.2s linear;
}
.header__icons-container--close:hover {
  letter-spacing: 1px;
  color: dimgray;
}
.header__icon-link {
  text-decoration: none;
  color: #141414;
  display: flex;
  align-items: center;
  height: 100%;
}
.header__icon-link:hover {
  text-decoration: none;
  color: dimgray !important;
}

.is-active {
  border-top: 2px solid #141414;
  transition: all 0.1s ease;
}

.is-active2 {
  color: #141414;
}

.welcome-text-sub {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}

.icons {
  font-size: 2.4rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .icons {
    font-size: 5rem;
    margin-left: 4rem;
  }
}

.header__options-links__gifts {
  color: #ff5a64 !important;
}
.header__options-links__gifts:hover {
  color: #910c34 !important;
  border-top: 2px solid #910c34 !important;
}
.header__options-links__gifts.is-active {
  color: #910c34 !important;
  border-top: 2px solid #910c34 !important;
}

#header__alert {
  font-size: 1.6rem;
}

.category-directory-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(2rem);
  z-index: 100000;
}
.category-directory-modal {
  padding: 2rem;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90rem;
  height: auto;
  background: white;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(0, 0, 0, 0.05) !important;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal {
    top: 1rem;
    width: 98vw;
    padding: 3rem;
  }
}
.category-directory-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-directory-modal__header--title {
  font-family: "Crimson Pro", serif;
  color: #4d3f3c;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.9rem;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal__header--title {
    font-size: 3.8rem;
  }
}
.category-directory-modal__header--title__main {
  color: #4d3f3c;
  border-bottom: 2px solid whitesmoke;
}
.category-directory-modal__header--title__price {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: #141414;
  font-size: 2.5rem;
  font-weight: bold;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal__header--title__price {
    font-size: 3rem;
  }
}
.category-directory-modal__header--title__vat {
  color: dimgray;
  font-size: 2rem;
}
.category-directory-modal__header--close {
  color: #141414;
  font-size: 3rem;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease-in-out;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal__header--close {
    font-size: 8rem;
  }
}
.category-directory-modal__header--close:hover {
  transform: rotate(180deg);
  color: #910c34;
}
.category-directory-modal__body {
  width: 100%;
  display: flex;
  gap: 2rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal__body {
    height: fit-content;
    flex-direction: column;
  }
}
.category-directory-modal__description {
  font-size: 2rem;
}
.category-directory-modal__description--text {
  font-family: "Faustina", serif;
  font-size: 1.6rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal__description {
    font-size: 3.5rem;
  }
}
.category-directory-modal__description--title {
  font-size: 2rem;
  color: #141414;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-align: center;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal__description--title {
    font-size: 3.5rem;
  }
}
.category-directory-modal__description--title__size {
  text-align: center;
  margin-top: 4rem;
}
.category-directory-modal__description--button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
}
.category-directory-modal__description--button {
  font-family: "Changa", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border: 2px solid whitesmoke;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal__description--button {
    margin-right: 2rem;
    width: 8rem;
    height: 8rem;
    font-size: 3.5rem;
  }
}
.category-directory-modal__description--button:hover {
  border: 1px solid #141414;
  background-color: #141414;
  color: white;
}
.category-directory-modal__description--button__active {
  border: 1px solid #141414;
  background-color: #141414;
  color: white;
}
.category-directory-modal__description--input {
  display: none;
}
.category-directory-modal--image {
  height: auto;
  width: 50%;
  object-fit: cover;
  object-position: center 10%;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal--image {
    width: 100%;
    height: 100rem;
    margin-bottom: 2rem;
  }
}
.category-directory-modal__button {
  animation: fade-in 1s ease;
  font-family: "Changa", sans-serif !important;
  font-size: 1.6rem !important;
  color: white !important;
  background: #141414 !important;
  border: 2px solid transparent !important;
  letter-spacing: 0.4rem !important;
  -webkit-appearance: none !important;
  outline: none !important;
  transition: all 0.2s ease !important;
  font-size: 1.6rem !important;
  padding: 1rem 2rem !important;
  font-weight: 600 !important;
  width: 30rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}
.category-directory-modal__button:hover {
  color: #141414 !important;
  background: white !important;
  border: 2px solid #141414 !important;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal__button {
    width: 40rem;
    padding: 3rem 2rem;
    font-size: 2.5rem;
  }
}
.category-directory-modal__button:hover {
  border: 2px solid #141414;
  background-color: white;
  color: #141414;
}
.category-directory-modal__button--inactive {
  font-family: "Changa", sans-serif !important;
  font-size: 1.6rem !important;
  color: white !important;
  background: #141414 !important;
  border: 2px solid transparent !important;
  letter-spacing: 0.4rem !important;
  -webkit-appearance: none !important;
  outline: none !important;
  transition: all 0.2s ease !important;
  font-size: 1.6rem !important;
  padding: 1rem 2rem !important;
  font-weight: 600 !important;
  width: 30rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background-color: #b9b9b9;
  transition: all 0.2s ease;
}
.category-directory-modal__button--inactive:hover {
  color: #141414 !important;
  background: white !important;
  border: 2px solid #141414 !important;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-directory-modal__button--inactive {
    width: 40rem;
    padding: 3rem 2rem;
    font-size: 2.5rem;
  }
}
.category-directory-modal__button--inactive:hover {
  color: #b9b9b9;
  border: 2px solid #b9b9b9;
}
.category-directory-modal__button--inactive__shake {
  animation: shake 0.4s ease;
}
.category-directory-modal__button--inactive:focus {
  outline: none;
}
.category-directory-modal__button-container {
  text-align: right;
}

@keyframes fade-in {
  from {
    background-color: #b9b9b9;
  }
  to {
    background-color: #141414;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-button {
  height: 5.5rem;
  width: 5.5rem;
  position: absolute;
  top: 4.2rem;
  left: 3rem;
  display: none;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .navbar-button {
    display: flex;
  }
}
.navbar-button__menu-top {
  position: absolute;
  top: 60%;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  display: none;
  transition: all 0.4s ease-in-out;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .nav-menu {
    padding-left: 12rem;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: calc(3rem + 14rem);
    left: -100%;
  }
}
.nav-menu__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50%;
}

.nav-menu.active {
  left: 0;
  transition: all 0.4s ease-in-out;
}

.nav-text {
  font-size: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6rem;
  text-decoration: none;
  color: dimgray;
  width: 95%;
  height: 100%;
  padding: 0.5rem 1.5rem;
  border-bottom: 2px solid rgba(170, 170, 170, 0.8);
}

.list-item {
  list-style: none;
  width: 100%;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16rem;
}

.hamburger-react-style {
  width: 100%;
  height: 100%;
}

.StripeCheckout span {
  font-family: "Changa", sans-serif !important;
  font-size: 1.6rem !important;
  color: white !important;
  background: #141414 !important;
  border: 2px solid transparent !important;
  letter-spacing: 0.4rem !important;
  -webkit-appearance: none !important;
  outline: none !important;
  transition: all 0.2s ease !important;
  font-size: 1.6rem !important;
  padding: 1rem 2rem !important;
  font-weight: 600 !important;
  text-shadow: none !important;
  background-image: none !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(0, 0, 0, 0.05) !important;
  text-transform: uppercase !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 0px !important;
  width: 100% !important;
  padding: 1rem 2rem !important;
}
.StripeCheckout span:hover {
  color: #141414 !important;
  background: white !important;
  border: 2px solid #141414 !important;
}

.StripeCheckout {
  margin: 0 auto !important;
  background: none !important;
  display: flex !important;
  border-radius: 0px !important;
  padding: 0 !important;
  width: 100% !important;
}

.category-section {
  max-width: 192rem;
  position: relative;
  margin: 0rem auto;
  padding-top: 4rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .category-section {
    margin-top: 17rem;
  }
}

.categories-flex {
  padding: 0.5rem;
  background: whitesmoke;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: calc(9rem);
  left: 0;
  font-size: 1.6rem;
  color: #4d3f3c;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directory-menu__intro {
  position: absolute;
  top: 0%;
  width: 50%;
  height: calc(100% - 2rem);
}

.checkout-page {
  max-width: 144rem;
  margin: 0 auto;
  padding: 2rem;
}
.checkout-page__header {
  font-family: "Faustina", serif;
}
.checkout-page__title {
  font-family: "Crimson Pro", serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 4rem;
}
.checkout-page__greeting-message {
  font-size: 1.8rem;
  color: #4d3f3c;
  margin-bottom: 0;
  padding-bottom: 0;
}
.checkout-page__greeting-message--user {
  color: #141414;
  font-weight: bold;
}
.checkout-page__main {
  display: flex;
  margin-top: 4rem;
  width: 100%;
}
.checkout-page__main--items {
  width: 66.66%;
  display: flex;
  flex-direction: column;
}
.checkout-page__main--items__table-top {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid dimgray;
  font-size: 1.8rem;
  padding: 0.5rem;
}
.checkout-page__main--items__table-top--flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.checkout-page__main--items__table-top--left {
  width: 60%;
}
.checkout-page__main--items__table-top--title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  text-align: end;
  font-family: "Space Grotesk", sans-serif;
  color: #141414;
}
.checkout-page__main--items__table-top--title__quantity {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}
.checkout-page__main--items__table-top--title__quantity--icon {
  font-size: 2rem;
  cursor: pointer;
}
.checkout-page__main--items__title {
  font-size: 1.8rem;
  width: 60%;
  font-family: "Faustina", serif;
  font-weight: 400;
  color: #141414;
}
.checkout-page__main--items--top {
  display: flex;
  flex-direction: column;
}
.checkout-page__main--items__item {
  display: flex;
  width: 100%;
}
.checkout-page__main--items__item--image {
  width: 20%;
  object-fit: cover;
  object-position: center center;
}
.checkout-page__main--items__item--details {
  margin-left: 2rem;
  font-family: "Crimson Pro", serif;
}
.checkout-page__main--items__item--details__title {
  font-family: "Crimson Pro", serif;
  color: #4d3f3c;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.9rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.checkout-page__main--items__item--details__span-size {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  color: #141414;
}
.checkout-page__main--items__item--details__greyed {
  font-family: "Faustina", serif;
  font-weight: 600;
  color: dimgray;
}
.checkout-page__main--items__item--details__delete-btn {
  display: inline-block;
  width: fit-content;
  color: #141414;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-page__main--items__item--details__delete-btn:hover {
  color: white;
  background-color: #141414;
}
.checkout-page__main--items__item--details__delete-btn--text {
  padding-left: 0.5rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.checkout-page__main--price-details {
  background-color: whitesmoke;
  padding: 2rem 1.5rem;
  width: 30%;
  height: fit-content;
  margin-left: 3.33%;
  font-size: 1.8rem;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
}
.checkout-page__main--price-details__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
}
.checkout-page__main--price-details__btn {
  font-family: "Changa", sans-serif !important;
  font-size: 1.6rem !important;
  color: white !important;
  background: #141414 !important;
  border: 2px solid transparent !important;
  letter-spacing: 0.4rem !important;
  -webkit-appearance: none !important;
  outline: none !important;
  transition: all 0.2s ease !important;
  font-size: 1.6rem !important;
  padding: 1rem 2rem !important;
  font-weight: 600 !important;
  margin: 0 auto;
}
.checkout-page__main--price-details__btn:hover {
  color: #141414 !important;
  background: white !important;
  border: 2px solid #141414 !important;
}

.homepage {
  max-width: 192rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.registration {
  display: flex;
  flex-direction: column;
  justify-content: top;
  max-width: 144rem;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 9rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .registration {
    height: 100%;
  }
}
.registration__flex {
  width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .registration__flex {
    flex-direction: column;
  }
}
.registration__title {
  font-family: "Crimson Pro", serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 4rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-container--inner {
  padding: 2rem;
  width: 80%;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .form-container--inner {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5rem;
    margin-bottom: 4rem;
  }
}

.form-input-field {
  margin-top: 2.5rem;
  position: relative;
  overflow: hidden;
}

.form-label {
  font-family: "Faustina", serif;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(0rem);
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .form-label {
    font-size: 4rem;
  }
}

.form-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #141414;
  letter-spacing: 1.5px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .form-title {
    font-size: 5rem;
  }
}
.form-title--sub {
  font-size: 2rem;
  text-align: center;
  color: #4d3f3c;
  font-family: "Faustina", serif;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .form-title--sub {
    font-size: 3rem;
  }
}

.signin--input {
  background-color: inherit;
  padding-top: 2rem;
  height: 6rem;
  width: 100%;
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid whitesmoke;
  transition: all 1s ease;
  transform-origin: left;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .signin--input {
    font-size: 4rem;
    height: 12rem;
  }
}
.signin--input:invalid {
  color: red;
}
.signin--input:active {
  outline: none;
  border-bottom: 2px solid #141414;
}
.signin--input:focus {
  outline: none;
}

.form-label-content {
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease;
}

.signin--input:focus .form-label-content {
  padding: 4rem;
}

.form-label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #141414;
  transition: all 0.5s ease;
  transform: translateX(-100%);
}

.form input:focus + .form-label .form-label-content,
.form input:not(:placeholder-shown) + .form-label .form-label-content {
  transform: translateY(-3rem) translateX(2rem) scale(0.8);
  color: #141414;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .form input:focus + .form-label .form-label-content,
.form input:not(:placeholder-shown) + .form-label .form-label-content {
    transform: translateY(-7rem) translateX(2rem) scale(0.9);
  }
}

.form input:focus + .form-label::after,
.form input:not(:placeholder-shown) + .form-label::after {
  transform: translateX(0);
}

.submit-btn {
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .submit-btn {
    font-size: 2.5rem;
    padding: 3rem 2rem;
  }
}
.submit-btn:active {
  outline: none;
}

.signin-btn {
  font-family: "Changa", sans-serif !important;
  font-size: 1.6rem !important;
  color: white !important;
  background: #141414 !important;
  border: 2px solid transparent !important;
  letter-spacing: 0.4rem !important;
  -webkit-appearance: none !important;
  outline: none !important;
  transition: all 0.2s ease !important;
  font-size: 1.6rem !important;
  padding: 1rem 2rem !important;
  font-weight: 600 !important;
}
.signin-btn:hover {
  color: #141414 !important;
  background: white !important;
  border: 2px solid #141414 !important;
}
.signin-btn:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .signin-btn:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.form-flex {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .form-flex {
    margin-top: 6rem;
  }
}

.google-icon {
  height: 2.5rem;
  width: 2.5rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .google-icon {
    height: 5rem;
    width: 5rem;
  }
}

.google-btn {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid whitesmoke;
  width: 4rem;
  height: 4rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .google-btn {
    width: 12rem;
    height: 12rem;
  }
}

.signup-btn {
  font-family: "Changa", sans-serif !important;
  font-size: 1.6rem !important;
  color: white !important;
  background: #141414 !important;
  border: 2px solid transparent !important;
  letter-spacing: 0.4rem !important;
  -webkit-appearance: none !important;
  outline: none !important;
  transition: all 0.2s ease !important;
  font-size: 1.6rem !important;
  padding: 1rem 2rem !important;
  font-weight: 600 !important;
}
.signup-btn:hover {
  color: #141414 !important;
  background: white !important;
  border: 2px solid #141414 !important;
}

/*# sourceMappingURL=styles.css.map */
