.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &--inner {
    padding: 2rem;
    width: 80%;
  }
}
.form-input-field {
  margin-top: 2.5rem;
  position: relative;
  overflow: hidden;
  @include respond(phone) {
    margin-top: 4rem;
  }
}
.form-label {
  font-family: $font-writing;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(0rem);
  @include respond(phone) {
    font-size: 3rem;
  }
}

.form-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: $color-black;
  letter-spacing: 1.5px;
  @include respond(phone) {
    font-size: 5rem;
  }
  &--sub {
    font-size: 2rem;
    text-align: center;
    color: $color-grey-dark2;
    font-family: $font-writing;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
}
.signin--input {
  background-color: inherit;

  padding-top: 2rem;
  height: 6rem;
  width: 100%;
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid $color-border;
  transition: all 1s ease;
  transform-origin: left;
  @include respond(phone) {
    font-size: 5rem;
    padding-top: 3rem;
    height: 10rem;
  }

  &:invalid {
    color: rgb(255, 0, 0);
  }
  &:active {
    outline: none;
    border-bottom: 2px solid $color-black;
  }
  &:focus {
    outline: none;
  }
}
.form-label-content {
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease;
}

.signin--input:focus .form-label-content {
  padding: 4rem;
}

.form-label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid $color-black;
  transition: all 0.5s ease;
  transform: translateX(-100%);
}

.form input:focus + .form-label .form-label-content,
.form input:not(:placeholder-shown) + .form-label .form-label-content {
  transform: translateY(-3rem) translateX(2rem) scale(0.8);
  color: $color-black;
  @include respond(phone) {
    transform: translateY(-7rem) translateX(2rem) scale(0.9);
  }
}

.form input:focus + .form-label::after,
.form input:not(:placeholder-shown) + .form-label::after {
  transform: translateX(0);
}

.submit-btn {
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;

  &:active {
    outline: none;
  }
}

.signin-btn {
  @include custom-btn;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  @include respond(phone) {
    &:not(:last-child) {
      margin-top: 6rem;
    }
    &:last-child {
      margin-bottom: 6rem;
    }
  }

  &:active {
  }
}

.form-flex {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.google-icon {
  height: 2.5rem;
  width: 2.5rem;
  @include respond(phone) {
    height: 6rem;
    width: 6rem;
  }
}
.google-btn {
  align-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid $color-border;

  width: 4rem;
  height: 4rem;
  @include respond(phone) {
    height: 10rem;
    width: 10rem;
  }
}

.signup-btn {
  @include custom-btn;
  @include respond(phone) {
    margin-top: 6rem;
  }
}
