.cart-icon {
  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__item-count {
    position: absolute;
    right: -43%;
    bottom: -43%;
    padding-bottom: 0.2rem;
    transform: translateX(-50%) translateY(-50%);
    background: $color-black;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 800;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    @include respond(phone) {
      right: -63%;
      bottom: -63%;
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
    }
    &:hover {
      background: $color-grey-dark;
    }
  }
  &:hover &__item-count {
    background: $color-grey-dark;
  }
}
