.cart-icon {
  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__item-count {
    position: absolute;
    right: -43%;
    bottom: -43%;
    padding-bottom: 0.2rem;
    transform: translateX(-50%) translateY(-50%);
    background: $color-black;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 800;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    &:hover {
      background: $color-grey-dark;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      font-size: 2rem;
      width: 2.8rem;
      height: 2.8rem;
      right: -1.8rem;
      bottom: -1.8rem;
    }
  }
  &:hover &__item-count {
    background: $color-grey-dark;
  }
}
