.cart-icon {
  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__item-count {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 0.2rem;
    transform: translateX(0.5rem) translateY(0.5rem);
    background: $color-black;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 800;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    @include respond(phone) {
      transform: translateX(1rem) translateY(1rem);
      width: 4rem;
      height: 4rem;
      font-size: 2.4rem;
    }
    &:hover {
      background: $color-grey-dark;
    }
  }
  &:hover &__item-count {
    background: $color-grey-dark;
  }
}
