.checkout-page {
  max-width: $width-general-second;
  margin: 0 auto;
  padding: 2rem;

  &__header {
    font-family: $font-writting;
  }
  &__title {
    @include page-title;
  }
  &__greeting-message {
    font-size: 1.8rem;
    color: $color-grey-dark2;
    margin-bottom: 0;
    padding-bottom: 0;

    &--user {
      color: $color-black;
      font-weight: bold;
    }
  }
  &__main {
    display: flex;
    margin-top: 4rem;
    width: 100%;
    &--items {
      width: 66.66%;
      display: flex;
      flex-direction: column;

      &__table-top {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid $color-grey-dark;
        font-size: 1.8rem;
        padding: 0.5rem;
        &--flex {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20%;
        }
        &--left {
          width: 60%;
        }
        &--title {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 20%;
          text-align: end;
          font-family: $font-headers;
          color: $color-black;

          &__quantity {
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 2rem;
            &--icon {
              font-size: 2rem;
              cursor: pointer;
            }
          }
        }
      }
      &__title {
        font-size: 1.8rem;
        width: 60%;
        font-family: $font-writting;
        font-weight: 400;
        color: $color-black;
      }
      &--top {
        display: flex;
        flex-direction: column;
      }
      &__item {
        display: flex;
        width: 100%;
        &--image {
          width: 20%;

          object-fit: cover;
          object-position: center center;
        }
        &--details {
          margin-left: 2rem;
          font-family: $font-special;
          &__title {
            @include item-text;
            margin-bottom: 2rem;
            font-weight: 400;
          }
          &__span-size {
            font-family: $font-headers;
            font-weight: 600;
            color: $color-black;
          }
          &__greyed {
            font-family: $font-writting;
            font-weight: 600;
            color: $color-grey-dark;
          }
          &__delete-btn {
            display: inline-block;
            width: fit-content;
            color: $color-black;
            font-size: 2rem;
            cursor: pointer;
            padding: 0.5rem 1rem;
            transition: all 0.2s ease;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover {
              color: white;
              background-color: $color-black;
            }
            &--text {
              padding-left: 0.5rem;
              font-size: 1.4rem;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
    &--price-details {
      background-color: $color-border;
      padding: 2rem 1.5rem;
      width: 30%;
      height: fit-content;
      margin-left: 3.33%;
      font-size: 1.8rem;
      font-family: $font-headers;
      display: flex;
      flex-direction: column;
      &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        gap: 2rem;
      }
      &__btn {
        @include custom-btn;
        margin: 0 auto;
      }
    }
  }
}
