.checkout-page {
  max-width: $width-general-second;
  margin: 0 auto;
  padding: 2rem;

  &__header {
    font-family: $font-writing;
  }
  &__title {
    @include page-title;
    @include respond(phone) {
      margin-top: 12rem;
      font-size: 8rem;
    }
  }
  &__greeting-message {
    font-size: 1.8rem;
    color: $color-grey-dark2;
    margin-bottom: 0;
    padding-bottom: 0;
    @include respond(phone) {
      font-size: 3.4rem !important;
      text-align: center;
    }

    &--user {
      color: $color-black;
      font-weight: bold;
    }
  }
  &__main {
    display: grid;
    grid-template-columns: 66% 33%;
    column-gap: 1%;
    margin-top: 4rem;
    width: 100%;
    @include respond(phone) {
      grid-template-columns: 1fr;
      column-gap: 0%;
      row-gap: 4rem;
    }
    &--items {
      width: 100%;
      display: flex;
      flex-direction: column;
      @include respond(phone) {
        grid-row: 2/3;
      }
      &__table-top {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid $color-grey-dark;
        font-size: 1.8rem;
        padding: 1.5rem;

        @include respond(phone) {
          font-size: 3rem;
          padding: 2.5rem;
          position: relative;
          &:last-child {
            margin-bottom: 14rem;
          }
        }
        &--flex {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20%;
        }
        &--left {
          width: 60%;
        }
        &--title {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 20%;
          text-align: end;
          font-family: $font-headers;
          color: $color-black;
          @include respond(phone) {
            justify-content: center;
          }

          &__quantity {
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 2rem;
            @include respond(phone) {
              width: 90%;
              font-size: 3rem;
              justify-content: space-between;
            }
            &--icon {
              font-size: 2rem;
              cursor: pointer;
              @include respond(phone) {
                font-size: 60px !important;
              }
            }
          }
        }
      }
      &__title {
        font-size: 1.8rem;
        width: 60%;
        font-family: $font-writing;
        font-weight: 400;
        color: $color-black;
        @include respond(phone) {
          font-size: 2.2rem;
          display: flex;
          align-items: center;
        }
      }
      &--top {
        display: flex;
        flex-direction: column;
      }
      &__item {
        display: flex;
        width: 100%;
        &--image {
          width: 20%;

          object-fit: cover;
          object-position: center center;
          @include respond(phone) {
            width: 40%;
            height: 100%;
          }
        }
        &--details {
          margin-left: 2rem;
          font-family: $font-special;

          &__title {
            @include item-text;
            margin-bottom: 2rem;
            font-weight: 400;
            @include respond(phone) {
              font-size: 3rem !important;
            }
          }
          &__span-size {
            font-family: $font-headers;
            font-weight: 600;
            color: $color-black;
          }
          &__greyed {
            font-family: $font-writing;
            font-weight: 600;
            color: $color-grey-dark;
          }
          &__delete-btn {
            // display: inline-block;
            width: fit-content;
            color: $color-black;
            font-size: 2rem;
            cursor: pointer;
            padding: 0.5rem 1rem;
            transition: all 0.2s ease;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include respond(phone) {
              font-size: 4rem !important;
              position: absolute;
              bottom: 4rem;
              left: 28%;
            }
            &:hover {
              color: white;
              background-color: $color-black;
              @include respond(phone) {
              }
            }
            &--text {
              padding-left: 0.5rem;
              font-size: 1.4rem;
              letter-spacing: 1px;
              @include respond(phone) {
                font-size: 3.2rem !important;
              }
            }
          }
        }
      }
    }
    &--price-details {
      background-color: $color-border;
      padding: 2rem 1.5rem;
      width: 100%;

      font-size: 1.8rem;
      font-family: $font-headers;
      display: flex;
      flex-direction: column;
      height: fit-content;
      @include respond(phone) {
        padding: 3rem 2rem;
        grid-row: 1/2;
      }
      &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        gap: 2rem;
        @include respond(phone) {
          font-size: 5rem !important;
        }
      }
      &__btn {
        @include custom-btn;
        margin: 0 auto;
      }
    }
  }
}

.checkout-page {
  &__shipping-details {
    font-size: 1.6rem;
    color: black;
    @include respond(phone) {
      font-size: 2.2rem;
    }
  }
  &__card-information {
    font-size: 1.2rem;
    color: $imperial-red;
    margin-bottom: 4rem;
    @include respond(phone) {
      font-size: 2.8rem;
    }
  }
}
