.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar-button {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 4.6rem;
  left: 3rem;
  display: none;
  @include respond(phone) {
    display: block;
  }

  &__menu-top {
    position: absolute;
    top: 60%;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-menu {
  position: fixed;
  top: $navbar-height-mobile;
  height: 100vh;
  left: -100%;
  transition: all 0.4s ease-in-out;
  background-color: rgba($color: $color-white, $alpha: 0.85);
  backdrop-filter: blur(20px);

  width: 100vw;
  padding: 2rem;
  &__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.nav-menu.active {
  @include respond(phone) {
    display: block;
    left: 0;
  }
}
.nav-text {
  font-size: 8rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 6rem;
  text-decoration: none;
  color: $color-grey-dark;
  width: 95%;
  height: 100%;

  padding: 0.5rem 1.5rem;

  border-bottom: 2px solid rgba(170, 170, 170, 0.8);
}

.list-item {
  list-style: none;
  width: 100%;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16rem;
}

.hamburger-react {
  transform: scale(2);
  margin-left: 5rem;
}
