.footer {
  width: 100%;

  background: $color-grey-dark;
  color: white;
  margin-bottom: 0;
  padding: 4rem 0;

  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__text {
    font-size: 1.8rem;
  }
}

.footer-grid {
  text-align: center;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-evenly;
}

.footer-logo {
  width: auto;
  height: 15rem;
}

.logo {
  width: auto;
  height: 15rem;
}
