.footer {
  width: 100%;

  background: $color-grey-dark;
  color: white;
  margin-bottom: 0;
  padding: 4rem 0;

  &__title {
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      font-size: 3rem;
    }
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__text {
    font-size: 1.8rem;
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      font-size: 2rem;
    }
  }
}

.footer-grid {
  text-align: center;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-evenly;
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  }
}

.footer-logo {
  width: auto;
  height: 15rem;
}

.logo {
  width: auto;
  height: 15rem;
}
