.footer {
  width: 100%;

  background: $color-black;
  color: white;
  margin-bottom: 0;
  padding: 4rem 0;
  @include respond(phone) {
    height: 100%;
    padding: 8rem 2rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    @include respond(phone) {
      margin-bottom: 0.5rem;
      margin-top: 2rem;
    }
  }
  &__text {
    font-size: 1.8rem;
    @include respond(phone) {
      font-size: 2rem;
    }
  }
}

.footer-grid {
  text-align: center;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-evenly;
  @include respond(phone) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-logo {
  width: auto;
  height: 15rem;
  @include respond(phone) {
    margin-bottom: 4rem;
  }
}

.logo {
  width: auto;
  height: 15rem;
}
