.app {
  width: 100%;
  min-height: 100vh;
}

#dropdown-cart-portal {
  height: 0;
}

.main-content {
  min-height: calc(100vh - #{$navbar-height-desktop}) !important;
  margin-top: $navbar-height-desktop !important;
  width: 100vw;
}
