.app {
  max-width: 192rem;
  margin: 0 auto;
  min-height: 100vh;
}

#dropdown-cart-portal {
  height: 0;
}

.main-content {
  min-height: calc(100vh - #{$navbar-height-desktop}) !important;
  margin-top: $navbar-height-desktop !important;
  max-width: 192rem;
  margin-left: auto;
  margin-right: auto;
  @include respond(phone) {
    margin-top: $navbar-height-mobile !important;
  }
}
