@import url("https://fonts.googleapis.com/css2?family=Faustina:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;600;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400;600;800&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
  // font-family: 'Noto Serif', serif;
  font-family: $font-special;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: $color-grey-dark2;
  box-sizing: border-box;
  background-color: $color-white;

  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}

/* BROWSER RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Padding and margin are not added to the total width or height of the box  */
}

::-webkit-scrollbar {
  display: none;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}

.call-to-action {
  color: $is-active !important;
}
