.most-wanted-image {
  width: 25rem;
  height: 30rem;
  object-fit: cover;
  object-position: center center;
  &__jacket {
    object-position: center bottom;
  }
  @include respond(phone) {
    height: 60rem;
    width: 50rem;
  }
}

.dropdown-images-container {
  position: relative;
  overflow: hidden;
  height: 30rem;
  &:hover &__inner {
    top: 50%;
    left: 0;
  }
  @include respond(phone) {
    height: 54rem;
    width: 45rem;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.05) 50%
    );
    top: 80%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    @include respond(phone) {
      top: 70%;
    }
    &--title {
      margin-top: 2rem;
      color: white;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }
    &:hover {
      top: 50%;
      left: 0;
    }
    &--link {
      font-family: $font-buttons;
      letter-spacing: 2px;
      color: white;
      background-color: rgba($color: #000000, $alpha: 0.5);
      backdrop-filter: blur(2rem);
      margin-top: 2rem;
      font-size: 1.6rem;
      padding: 1rem 2rem;
      border: 2px solid white;
      width: fit-content;
      font-weight: 600;
      transition: all 0.2s ease;

      &:hover {
        text-decoration: none;
        color: $color-black;
        background-color: rgba($color: #fff, $alpha: 0.8);
        border: 2px solid $color-black;
      }
    }
  }
}
