.most-wanted-image {
  width: 25rem;
  height: 30rem;
  object-fit: cover;
  object-position: center center;
  &__jacket {
    object-position: center bottom;
  }
  @include respond(phone) {
    height: 100%;
    width: 100%;
  }
}

.dropdown-images-container {
  position: relative;
  overflow: hidden;
  height: 30rem;
  &:hover &__inner {
    top: 50%;
    left: 0;
  }
  @include respond(phone) {
    height: 100%;
    align-self: flex-end;
    &:hover &__inner {
      top: 0;
      left: 0;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.05) 50%
    );
    top: 80%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    @include respond(phone) {
      top: 0;
      left: 0;
    }
    &--title {
      margin-top: 2rem;
      color: white;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      @include respond(phone) {
        font-size: 4rem;
      }
    }
    &:hover {
      top: 50%;
      left: 0;
    }
    &--link {
      font-family: $font-buttons;
      letter-spacing: 2px;
      color: white;
      background-color: rgba($color: #000000, $alpha: 0.5);
      backdrop-filter: blur(2rem);
      margin-top: 2rem;
      font-size: 1.6rem;
      padding: 1rem 2rem;
      border: 2px solid white;
      width: auto;
      font-weight: 600;
      transition: all 0.2s ease;
      @include respond(phone) {
        position: absolute;
        bottom: 6rem;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        font-size: 4rem;
        padding: 2rem 2rem;
        text-align: center;
      }

      &:hover {
        text-decoration: none;
        color: $color-black;
        background-color: rgba($color: #fff, $alpha: 0.8);
        border: 2px solid $color-black;
      }
    }
  }
}
