.homepage {
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  }
  max-width: $width-general;
  margin: 0 auto;

  height: 100%;
  display: flex;
  align-items: center;
}
