.cart-item-container {
  margin-bottom: 1rem;
  border-bottom: 1px solid $color-grey-dark;
  width: 100%;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  margin-bottom: 0.75rem;

  &__image {
    width: 30%;
    object-fit: cover;
    object-position: center top;
    @include respond(phone) {
      margin-right: 4rem;
    }
  }
  &__details {
    width: 100%;
    &--title {
      @include item-text;
      font-weight: 400;
      @include respond(phone) {
        font-size: 4rem;
        margin-bottom: 5rem;
      }
    }
    &--size-quantity-price {
      color: $color-grey-dark;
      font-size: 1.6rem;
      @include respond(phone) {
        font-size: 3.2rem;
      }
    }
    &--span-size {
      font-family: $font-headers;
      font-weight: 600;
      color: $color-grey-dark2;
      @include respond(phone) {
        font-size: 3.2rem;
      }
    }
    &--greyed {
      font-family: $font-writing;
      font-weight: 600;
      color: $color-grey-dark;
      @include respond(phone) {
        font-size: 3.2rem;
      }
    }
    &--span-price {
      font-family: $font-headers;
      color: $color-black;
      font-size: 1.8rem;
      letter-spacing: 0.15rem;
      @include respond(phone) {
        font-size: 3.2rem;
      }
    }
    &__total {
      margin-bottom: 0;
      font-size: 1.8rem !important;
      @include respond(phone) {
        font-size: 3.2rem !important;
      }
    }
  }
  &__delete-btn {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    color: $color-black;
    transition: all 0.2s ease;
    @include respond(phone) {
      font-size: 6rem;
      justify-content: flex-end;
    }
    &:hover {
      color: white;
      background-color: $color-black;
      @include respond(phone) {
        color: $imperial-red;
        background-color: white;
      }
    }
    &--text {
      font-family: $font-headers;
      font-size: 1.6rem;
      margin-left: 0.5rem;
      font-weight: 400;
      @include respond(phone) {
        font-size: 3.2rem;
      }
    }
  }
}
