.category-section {
  max-width: $width-general;
  position: relative;

  margin: 0rem auto;
  padding-top: 4rem;
  @include respond(phone) {
    margin-top: 18rem;
  }
}

.categories-flex {
  padding: 0.5rem;
  background: $color-border;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: calc(#{$navbar-height-desktop});
  left: 0;
  font-size: 1.6rem;
  color: $color-grey-dark2;
  height: 4rem;

  @include flex-center;
  @include respond(phone) {
    justify-content: space-evenly;
    top: $navbar-height-mobile;
    height: 12rem;
    background: rgba($color: $color-border, $alpha: 0.95);
    backdrop-filter: blur(1rem);
  }
}
.directory-menu {
  @include respond(phone) {
    margin-top: 4rem;
  }
  &__intro {
    position: absolute;
    top: 0%;
    width: 50%;
    height: calc(100% - 2rem);
    @include respond(phone) {
      height: calc(100% - 4rem);
      margin-right: -2rem;
      margin-left: -2rem;
    }
  }
}
